[submodule "net_service_installs/docker/compose_files/media-dl"]
	path = net_service_installs/docker/compose_files/media-dl
	url = https://git.vdweb.link/sam/media-dl
[submodule "net_service_installs/docker/compose_files/media-dll"]
	path = net_service_installs/docker/compose_files/media-dll
	url = https://git.vdweb.link/sam/media-dl
[submodule "net_service_installs/wireguard-manager"]
	path = net_service_installs/wireguard-manager
	url = https://github.com/complexorganizations/wireguard-manager
[submodule "docker/compose_files/media-dl"]
	path = docker/compose_files/media-dl
	url = https://git.vdweb.link/sam/media-dl
[submodule "docker/compose_files/dockerfiles"]
	path = docker/compose_files/dockerfiles
	url = https://github.com/firecat53/dockerfiles
[submodule "net_service_installs/Cloak"]
	path = net_service_installs/Cloak
	url = https://github.com/cbeuw/Cloak
[submodule "net_service_installs/Cloak.wiki.git"]
	path = net_service_installs/Cloak.wiki.git
	url = https://github.com/cbeuw/Cloak.wiki.git
[submodule "net_service_installs/encrypted-dns-server"]
	path = net_service_installs/encrypted-dns-server
	url = https://github.com/DNSCrypt/encrypted-dns-server
