[submodule "net_service_installs/docker/compose_files/media-dl"]
	path = net_service_installs/docker/compose_files/media-dl
	url = https://git.vdweb.link/sam/media-dl
[submodule "net_service_installs/docker/compose_files/media-dll"]
	path = net_service_installs/docker/compose_files/media-dll
	url = https://git.vdweb.link/sam/media-dl
[submodule "net_service_installs/wireguard-manager"]
	path = net_service_installs/wireguard-manager
	url = https://github.com/complexorganizations/wireguard-manager
[submodule "docker/compose_files/media-dl"]
	path = docker/compose_files/media-dl
	url = https://git.vdweb.link/sam/media-dl
[submodule "docker/compose_files/dockerfiles"]
	path = docker/compose_files/dockerfiles
	url = https://github.com/firecat53/dockerfiles
[submodule "net_service_installs/Cloak"]
	path = net_service_installs/Cloak
	url = https://github.com/cbeuw/Cloak
[submodule "net_service_installs/Cloak.wiki.git"]
	path = net_service_installs/Cloak.wiki.git
	url = https://github.com/cbeuw/Cloak.wiki.git
[submodule "net_service_installs/encrypted-dns-server"]
	path = net_service_installs/encrypted-dns-server
	url = https://github.com/DNSCrypt/encrypted-dns-server
[submodule "net_service_installs/MTProtoProxyInstaller"]
	path = net_service_installs/MTProtoProxyInstaller
	url = https://github.com/HirbodBehnam/MTProtoProxyInstaller
[submodule "net_service_installs/openvpn-install"]
	path = net_service_installs/openvpn-install
	url = https://github.com/angristan/openvpn-install
[submodule "net_service_installs/shadowsocks-manager"]
	path = net_service_installs/shadowsocks-manager
	url = https://github.com/complexorganizations/shadowsocks-manager
[submodule "/home/pc/Public/server/dnsleaktest"]
	path = /home/pc/Public/server/dnsleaktest
	url = https://github.com/macvk/dnsleaktest
[submodule "/home/pc/Public/server/sshuttle"]
	path = /home/pc/Public/server/sshuttle
	url = https://github.com/sshuttle/sshuttle
[submodule "/home/pc/Public/server/netmaker"]
	path = /home/pc/Public/server/netmaker
	url = https://github.com/gravitl/netmaker
[submodule "/home/pc/Public/server/gsocket"]
	path = /home/pc/Public/server/gsocket
	url = https://github.com/hackerschoice/gsocket
[submodule "/home/pc/Public/server/net_dev_installs/dnsleaktest"]
	path = /home/pc/Public/server/net_dev_installs/dnsleaktest
	url = https://github.com/macvk/dnsleaktest
[submodule "/home/pc/Public/server/net_dev_installs/sshuttle"]
	path = /home/pc/Public/server/net_dev_installs/sshuttle
	url = https://github.com/sshuttle/sshuttle
[submodule "/home/pc/Public/server/net_dev_installs/netmaker"]
	path = /home/pc/Public/server/net_dev_installs/netmaker
	url = https://github.com/gravitl/netmaker
[submodule "/home/pc/Public/server/net_dev_installs/gsocket"]
	path = /home/pc/Public/server/net_dev_installs/gsocket
	url = https://github.com/hackerschoice/gsocket
[submodule "docker/compose_files/awesome-stacks"]
	path = docker/compose_files/awesome-stacks
	url = https://github.com/ethibox/awesome-stacks
[submodule "app_installs/ytdl-sub"]
	path = app_installs/ytdl-sub
	url = https://github.com/jmbannon/ytdl-sub
[submodule "/home/pc/Public/server/cheatsheets/code-snippets"]
	path = /home/pc/Public/server/cheatsheets/code-snippets
	url = https://github.com/complexorganizations/code-snippets
[submodule "cheatsheets/codesnippets_complexOrgs"]
	path = cheatsheets/codesnippets_complexOrgs
	url = https://github.com/complexorganizations/code-snippets
[submodule "/home/pc/Public/server/net_service_installs/wireguard-over-wss"]
	path = /home/pc/Public/server/net_service_installs/wireguard-over-wss
	url = https://github.com/jnsgruk/wireguard-over-wss
[submodule "/home/pc/Public/server/cheatsheets/awesome-console-services"]
	path = /home/pc/Public/server/cheatsheets/awesome-console-services
	url = https://github.com/chubin/awesome-console-services
[submodule "/home/pc/Public/server/scripts/awesome-discoveries"]
	path = /home/pc/Public/server/scripts/awesome-discoveries
	url = https://github.com/whitone/awesome-discoveries
[submodule "/home/pc/Public/server/cheatsheets/the-art-of-command-line"]
	path = /home/pc/Public/server/cheatsheets/the-art-of-command-line
	url = https://github.com/jlevy/the-art-of-command-line
[submodule "/home/pc/Public/server/cheatsheets/python-cheatsheet"]
	path = /home/pc/Public/server/cheatsheets/python-cheatsheet
	url = https://github.com/gto76/python-cheatsheet
